* {
	margin:0;
	padding: 0;
	transition: 0.3s;
}

body {
	background: #ebf3fa;
    font-family: 'Acme', sans-serif;
	list-style: none;
	overflow-x: hidden;
}

.wrap {
	width: 1024px;
	margin: 0 auto;

}
header {
   background:#2b75b5; 
   border-bottom: 5px solid #1565ab;
}

.logo {
	display: inline-block;
	color: #f7fbff;
	font-weight: bold;
	text-decoration: none;
	font-size: 30px;
	padding-top: 20px;
    padding-bottom: 20px;
}

.header-cart {
	display: inline-block;
	float: right;
	width: 64px;
	height: 70px;
	float: right;
	padding-top: 10px;
	position: relative;
}
.header-cart .cart-icon {
	display: block;
	width: 64px;
	height: 64px;
	background-image: url('../img/sprite.png');
	background-position: -779px -5px;
}
.cart-icon:hover {
	background-position: -853px -5px;
	transition: .5s;
}
.amt {
	position: absolute;
	right: 0;
	width: 24px;
	height: 24px;
	color:#f7fbff;
	text-align: center;
	border-radius: 50%;
	background:#36cc00;
}

.amt-display {
	display: none;
}
.left-side {
	width: 500px;
	float: left;
	margin-top: 100px;
}

.basket-icon  {
   display: inline-block;
   width: 200px;
   height: 200px;
   box-sizing: border-box;
   text-decoration: none;
   position: relative;
   border: 2px solid #c3dff7;
   background:#f0f6fc;
   border-radius: 5px;
   margin-left: 30px;
   margin-bottom: 30px;
}
.basket-icon span {
	color: #ff5c40;
	position: absolute;
	bottom: 0;
	right: 60px;
	font-size: 26px;
	font-weight: bold;
}
.basket-icon .add {
	position: absolute;
	display: block;
	width: 32px;
	height:32px;
	background-image: url('../img/sprite.png');
	background-position: -429px -5px;
	bottom: 4px;
	right: 4px;
	transition: 0s;
}
.basket-icon .add:hover {
	background-position: -523px -5px;
	transition: 0s;

}
.icon {
    display: block;
    margin: 0 auto;
	margin-top: 16px;
	background-repeat: no-repeat;
}
.glasses  {
	margin-top: 60px;
}
 .shoes  {
	margin-top: 50px;
}

.glasses, .shoes, .phone, .watch  {
	width: 82px;
	height: 128px;
	background-image: url('../img/sprite.png');	
}

.glasses {
	width: 128px;
	background-position: -5px -47px;
}
.shoes {
	width: 128px;
	background-position: -565px -30px;
}
.phone {
	width: 72px;
	background-position: -245px -5px;
}
.watch {
	background-position: -948px -5px;
}
.info {
	background:#171717;;
	position: absolute;
	left: 160px;
	top:10px;
	padding: 50px 50px;
	border-radius: 10px;
	opacity: 0.9;
	color: #fff;
	font-size: 20px;
	z-index: 100;
}
.info-display {
	display: none;
}


.right-side {
	float: right;
	width: 500px;
	margin-top: 100px;
}
.basket-list {
	padding-bottom: 50px;
	border-bottom: 2px solid #ddd;
}
.row {
	background: #fffdfc;
	border-radius: 4px;
	margin-bottom: 10px;
	padding-top: 14px;
	padding-bottom: 14px;
	list-style: none;
	font-weight: bold;	
}

.list-line {
	background: none;
	font-size: 13px;
	color:#8a8a8a;
	padding: 0;
}

.list-line .qty {
	padding-left: 8px;
}
.list-line .item {
	padding-left: 28px;
}
.list-line .price {
	float: right;
	padding-right: 40px;
}

.cart__item-tmpl {
	display: none;
}
.row .amount {
	width: 30px;
	display: inline-block;
	padding-left: 5px;
	text-align: center;
	color: #418bcc;
}
.row .name {
	padding-left: 24px;
	color: #6b6b6b;
}
.row .cost {
	float: right;
	padding-right: 8px;
	color: #ff5c40;	
}
.delete-item { 
    background: #e80c0c;
    cursor: pointer;
    margin-top: -2px;
    margin-right: 10px;
    text-align: center;
    padding: 2px 6px;
    color: #fffafa;
    border-radius: 4px;
    float: right;
}
.delete-item:hover{
	background:#f00;
}

.sum {
	margin-top: 40px;
	margin-left: 20px;
	display: block;
}
.total {
	font-size: 20px; 
	color: #8a8a8a;
	padding-right: 6px;
}
.final-price {
   font-size: 30px;
   color: #ff5c40;
   font-weight: bold;
}

.order{
	display: inline-block;
	padding:20px;
	float: right;
	background: #ff765e;
    color: #fffdfc;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;    
    transition: 0.3s;
    border-radius: 4px;
    cursor: pointer;
}
.order:hover {
	background: #ff5c40;
	transition: 0.3s;
}

.notification-display {
	display: none;
}
.notification{
	width: 800px;
	margin: 0 auto;
}
.notification-block{
	position: fixed;
	margin-top: 50px;
	width: 800px;
    height: 500px;
    background: #171717;
    box-shadow: 2px 2px 10px 0px #404040;
    opacity: .8;
    z-index: 100;
    border-radius: 20px;
    color: #fff;
    font-size: 36px;
    padding-top: 180px;
    box-sizing: border-box;
    text-align: center;
}
.cross {
	position: absolute;
	right: 10px;
	top: 2px;
	cursor: pointer;
	color: red;
}
.order-list-one, .order-list-two {
   color: #ff3352;
}
.corfirm {
	outline: none;
	border: none;
	color: #000;
    font-weight: bold;
    font-size: 20px;
    padding:20px;
    margin-top: 50px;
	background: #ff3352;
}
.corfirm:hover {
   background: #000;
   color: #ff3352;
   border-radius: 4px;
}
.to-blur{
   filter: blur(10px);
}

@media(max-width: 1024px) {
.wrap {
	width: 540px;
}

.left-side {
	width: 210px;
	margin-top: 50px;
}
.basket-icon  {
   display: inline-block;
   width: 92px;
   height: 100px;
   margin-left: 6px;
   margin-bottom: 6px;
   background:#f0f6fc;
}
.basket-icon span {
	right: 26px;
	font-size: 15px;
}
.basket-icon .add {
	width: 16px;
	height:16px;
	background-image: url('../img/sprite.png');
	background-position: -497px -5px;
	bottom: 4px;
	right: 4px;
}
.basket-icon .add:hover {
	background-image: url('../img/sprite.png');
	background-position: -471px -5px;
}

.glasses {
	background-image: url('../img/sprite.png');	
	background-position: -143px -26px;
	width: 64px;
	height: 23px;
	margin-top: 36px;
}
.shoes {
	background-image: url('../img/sprite.png');
	background-position: -703px -17px;
	width: 64px;
	height: 40px;
	margin-top: 24px;
	
}
.phone {
	background-image: url('../img/sprite.png');
	background-position: -369px -5px;
	width: 36px;
	height: 64px;
	margin-top: 10px;
}
.watch {
	background-image: url('../img/sprite.png');
	background-position: -1074px -5px;
	width: 42px;
	height: 64px;
	margin-top: 10px;
}

.info {
	left: 80px;	
	padding: 30px 30px;
	font-size: 18px;
}

.right-side {
	width: 300px;
	margin-top: 50px;
}
.sum {
	margin-top: 40px;
	margin-left: 6px;
}
.total {
	font-size: 16px; 
}
.final-price {
   font-size: 26px;
}
.order{
	padding:10px;
}

}

