<h1> Need music? </h1>
<p class="lead"> Use the ngSpotigy app to browse and search music what you like! All you get is this text and a mostly barebones HTML document.</p>

<form>
    <div class="form-group">
        <input type="text" name="searchStr" (keyup)="searchMusic()" [(ngModel)]="searchStr" class="form-control" placeholder="search artist"/>
    </div>
</form>

<div *ngIf="searchRes">
    <div *ngFor="let res of searchRes">
        <div class="row">
            <div class="col-md-12">
                <div class="search-res well">
                    <h5> <a routerLink="/artist/{{res.id}}"> {{res.name}} </a></h5>
                    <h6> Genres: {{res.genres}} </h6>              
                </div>
            </div>
        </div>
    </div>
</div>